<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Calculadora Web</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>Calculadora</h1>
    <form method="POST">
      <input type="text" name="expressao" placeholder="Digite a conta" required>
      <button type="submit">Calcular</button>
    </form>
    {% if resultado != "" %}
      <p>Resultado: <strong>{{ resultado }}</strong></p>
    {% endif %}
  </div>
</body>
</html>
